

/* HEADER */

.banner img
{
	width:100%;
	z-index: 1;
	/* background-image: url(img/header.jpg); */
}

.header 
{
padding-left: 0px;
padding-right: 0px;
}

.search{
	float: right;
    margin-top: 15px;
    margin-right: 32px;
    padding-bottom: 12px;
}

input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


input[type=text]:focus {
    width: 100%;

}

/* Concept part / page 1 */

.jumbotron.text-center {
	margin-bottom: 0px;
}

#explain p {
    font-size: 21px;
    font-weight: 200;
}

/* SOCIAL ICONS */


.social{
	position: fixed;
	bottom: 270px;
	right: 20px;
	display: flex;
	flex-direction: column;
}

.social img{
	margin-bottom: 10px;
}

.social2{
	position: fixed;
	bottom: 510px;
	right: 20px;
	display: flex;
	flex-direction: column;
}

.social2 img{
	margin-bottom: 10px;
}

/* MUSIC */

iframe {
	margin-bottom: -64px;
	margin-top: 39px;
}

.row  
{
margin-right: 0px;
margin-left: 0px;
}

.row1{
margin-right: 0px;
margin-left: 0px;
margin-top: 0px;
}

#play-list .trais-hone {
	width:1px;
	height:100px;
	background-color:grey;
	margin-top:20px;
	margin-left:48px;
}

.first p{

    margin-left: 15px;
}

#play-list .trais-h {
	width:1px;
	height:100px;
	background-color:grey;
	margin-top:20px;
	margin-left:47px;
}

#play-list .trais-hten {
	width:1px;
	height:100px;
	background-color:grey;
	margin-top:20px;
	margin-left:77px;
}

#play-list {
	padding-top:40px;
	background: #4DA0B0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #D39D38, #4DA0B0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #D39D38, #4DA0B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 955px;
}

#play-list ul {
	list-style: none;
}


#play-list p {
	font-size:80px;
	font-family: 'Anton', sans-serif;
	float:left;

}

#play-list iframe {
	margin-left: 41px;
	margin-top:-90px;
}


.ten
{
	padding-left: 12px;
}

/* MENU & CATEGORIE */


#menu-deroulant {
		background-color: #0B486B;
}

#menu-deroulant img
{
width: 20px;
height:20px;
}

#menu-deroulant h3 {
padding-left:30px;

}

#menu-deroulant li {
	list-style:none;
	background-color: grey;
	border-radius: 10px;
	margin-left:10px;
	height:20px;
	width:45px;

}

#menu-deroulant li:hover { 
    background-color: #F2D7EC;
}


#menu-deroulant p {
	border-radius: 10px;
	color:white;
	padding-bottom: 10px;
	margin-left:5px;
	margin-top:5px;
}

.all {
	border-bottom-width: 30px;
    margin-bottom: 10px;
    margin-right: 700px;
}

.menu {
	color: #ffffff;
}
 /* ICONS MUSIC */

 .likeshare img{

	margin-right: -38px;
    margin-left: 47px;
}

.vote {
	float: right;
    margin-top: -95px;
    margin-right: 130px;
}

.likeshare2 img{

    margin-right: 1px;
    margin-left: 8px;
}

.vote2 {
    float: right;
    margin-top: -95px;
    margin-right: 43px;
}
.white{
	cursor: pointer;
}
.green{
	display: none;
}


/* BACKGROUND */


#music {
background: #53346D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #000000, #53346D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #000000, #53346D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

height: 1020px;
}
