.banner img
{
	width:100%;
}

.row  
{
margin-right: 0px;
margin-left: 0px;
}

.header 
{
padding-left: 0px;
padding-right: 0px;
}

input[type=text] {
    width: 130px;
        margin-top: 12px;
    margin-left: 173px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


input[type=text]:focus {
    width: 100%;

}


#play-list .trais-hone {
	width:1px;
	height:100px;
	background-color:grey;
	margin-top:20px;
	margin-left:48px;
}

.first p{

    margin-left: 15px;
}

#play-list .trais-h {
	width:1px;
	height:100px;
	background-color:grey;
	margin-top:20px;
	margin-left:47px;
}

#play-list .trais-hten {
	width:1px;
	height:100px;
	background-color:grey;
	margin-top:20px;
	margin-left:77px;
}

.ten
{
	padding-left: 12px;
}

#menu-deroulant img
{
width: 20px;
height:20px;
}

#menu-deroulant h3 {
padding-left:30px;

}

#play-list {
	padding-top:40px;
}

#play-list ul {
	list-style: none;
}


#play-list p {
	font-size:80px;
	font-family: 'Anton', sans-serif;
	float:left;

}

#play-list iframe {
	margin-left: 41px;
	margin-top:-90px;
}

.like img
{
	position: absolute;
    padding-bottom: 38px;
    padding-top: 0px;
    margin-top: 0px;
    border-bottom-width: -10;
    right: 476px;
    top: 121px;

}

