.banner img
{
	width:100%;
}

.row  
{
margin-right: 0px;
margin-left: 0px;
}

.header 
{
padding-left: 0px;
padding-right: 0px;
}

input[type=text] {
    width: 130px;
        margin-top: 12px;
    margin-left: 173px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


input[type=text]:focus {
    width: 100%;

}

#play-list .trais-h {
	width:1px;
	height:20px;
	background-color:grey;
}

#menu-deroulant img
{
width: 20px;
height:20px;
}

#menu-deroulant h3 {
padding-left:30px;

}

#play-list {
	padding-top:40px;
}

#play-list ul {
	list-style: none;
}


#play-list p {
	font-size:80px;
	font-family: 'Anton', sans-serif;
	float:left;

}

#play-list iframe {
	margin-left: 41px;
	padding-top:10px;
}
